In [1]:
import pandas as pd
import numpy as np
import math

In [31]:
df = pd.DataFrame({'국어':[51,65,78],
                  '수학':[80,90,100],
                  '영어':[100,100,100]},
                  
                  index=['홍길동','김대한','최민국'])
df

     국어   수학   영어
홍길동  51   80  100
김대한  65   90  100
최민국  78  100  100

In [32]:
df.index

Index(['홍길동', '김대한', '최민국'], dtype='object')

In [33]:
df['국어']

홍길동    51
김대한    65
최민국    78
Name: 국어, dtype: int64

In [34]:
df['국어'].name

'국어'

In [35]:
df['국어'].index

Index(['홍길동', '김대한', '최민국'], dtype='object')

In [36]:
type(df['국어'])

pandas.core.series.Series

In [37]:
df

     국어   수학   영어
홍길동  51   80  100
김대한  65   90  100
최민국  78  100  100

In [38]:
df.apply(np.average, axis=1)

홍길동    77.000000
김대한    85.000000
최민국    92.666667
dtype: float64

In [39]:
df.apply(np.average, axis=0)

국어     64.666667
수학     90.000000
영어    100.000000
dtype: float64

In [40]:
def get_score(df):
    return math.ceil((df['국어'] + df['수학']) / 2)

In [41]:
df.apply(get_score, axis=1)

홍길동    66
김대한    78
최민국    89
dtype: int64

In [42]:
def get_score2(x,y):
    return math.ceil((x + y) / 2)

In [43]:
df.apply(lambda x: get_score2(x['국어'], x['수학']), axis=1)

홍길동    66
김대한    78
최민국    89
dtype: int64

In [46]:
df[['국어','수학']].apply(lambda x: get_score(x), axis=1)

홍길동    66
김대한    78
최민국    89
dtype: int64

In [49]:
df[['국어','수학']].apply(lambda x: get_score2(x['국어'], x['수학']), axis=1)

홍길동    66
김대한    78
최민국    89
dtype: int64